
.wrapper{
    height: 100vh;
    display: grid;
    place-items: center;
}
.typing-demo{
    width: 11ch;
    animation: typing 2s steps(11), blink .5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: white;
}
@keyframes typing {
    from {
        width: 0;
    }
    
}
@keyframes blonk {
    50% {
        border-color: transparent;
    }
}
nav {
    margin:27px auto 0;

    position: relative;
    width: 500px;
    height: 50px;
    background-color: #333333;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 100px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 100px;
}
a:nth-child(5) {
    width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #eb5f1a;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 100px;
    left: 100px;
    background-color: #eb5f1a;
}
nav .start-blogl, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 200px;
    background-color: #eb5f1a;
}
nav .start-faceit, a:nth-child(4):hover~.animation {
    width: 100px;
    left: 300px;
    background-color: #eb5f1a;
}
nav .start-steam, a:nth-child(5):hover~.animation {
    width: 100px;
    left: 400px;
    background-color: #eb5f1a;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #eb5f1a;
}
nav .start-about, a:nth-child(2):focus~.animation {
    width: 100px;
    left: 100px;
    background-color: #eb5f1a;
}
nav .start-blogl, a:nth-child(3):focus~.animation {
    width: 100px;
    left: 200px;
    background-color: #eb5f1a;
}
nav .start-faceit, a:nth-child(4):focus~.animation {
    width: 100px;
    left: 300px;
    background-color: #eb5f1a;
}
nav .start-steam, a:nth-child(5):focus~.animation {
    width: 100px;
    left: 400px;
    background-color: #eb5f1a;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #1f1f1f;
}
span {
    color: #1f1f1f;
}